# Python virtual environment
.venv/
venv/
env/

# Python cache files
__pycache__/
*.py[cod]

# Django local files
db.sqlite3
media/

# Test and coverage files
.pytest_cache/
.coverage
htmlcov/

# VS Code
.vscode/*
!.vscode/settings.json

# OS files
.DS_Store
Thumbs.db